# Dependencies
node_modules/
.pnpm-store/

# Production builds
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Environment variables
.env
.env.local
.env.*.local

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Temp / Cache / Archives
.cache/
.vite/
M1.zip
M1 ss/
M1/
M2/
